.menu{
    margin-top: 0px;
}
.heading{
    
    color: rgb(250, 246, 246);
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: -30px;
}
.menu::before{
    content: "";
    background: url(../../asserts/image/home.jpg)no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 120%;
    z-index: -1;
    opacity: 0.99;
}
.menu .bax-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:1rem

}
.menu .bax-container .box{
    padding: -43px;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}
.menu .bax-container .box h3{
    color: white;
    font-size:20px;
    padding:  0px;
}
.menu .bax-container .box .price{
    color: white;
    font-size: 20px;
    padding: 8px;
}
.menu .bax-container .box button{
    text-align: center;
    margin-left: 12px;
}